.DS_Store
__pycache__
build/
website_src/
node_modules/
**/LINEMOD
**/LM_dataset
**/LM_dataset-points
**/LM_dataset.zip
**/onepose
**/onepose-points
**/onepose.zip
**/onepose_plusplus
**/onepose_plusplus-points
**/onepose_plusplus.zip
**/ycbv
**/ycbv-points
**/ycbv.zip

**/weights
**/ttest.ipynb
**/~$*
