.DS_Store
__pycache__
build/
website_src/
node_modules/
**/LINEMOD
**/LM_dataset
**/LM_dataset-points
**/onepose
**/onepose-points
**/oneposeplusplus
**/oneposeplusplus-points
**/ycbv
**/ycbv-points

**/weights
**/test.ipynb
